/* intuitivnější box-sizing pro všechny prvky na stránce */
html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }


/*
	Poznámky:
	- maximální šířka obsahu uvnitř sekcí je 1100px
	- "pruh" s obsahem obsah je vycentrovaný na stránce
	- všechny sekce mají nahoře a dole padding 80px
	- kromě hlavičky a patičky, které mají jen 30px
	- nadpisy jsou fontem Playfair Display, tučně
	- veškerý další text na stránce fontem Lora
	- výchozí velikost textu na stránce je 18px, řádkování 1.5

	Velikosti nadpisů:
	h1 - 52px  (nadpis v horní Hero sekci s cupcakem)
	h2 - 36px  (nadpisy v dalších sekcích)
	h3 - 18px  (název produktu v Dnešní nabídce)
	Nadpisy mají řádkování jen 1.25

	Barvy:
	#f195b2		růžová - tlačítka a zvýraznění
	#d2567d		tmavá růžová - hover/aktivní tlačítka
	#3e606b		tmavá tyrkysová - na nadpisy
	#242424		(skoro) černá - na běžný text
	#f0f0f0		světle šedé pozadí prostřední sekce
	#303339		tmavé pozadí patičky
*/


body {
	margin: 0;
	font-family: 'Lora', serif;
	font-size: 18px;
	line-height: 1.5;
	color: #242424;
}

h1,
h2,
h3 {font-family: 'Playfair Display', serif;
	line-height: 1.25;
}

h1
{
	font-size: 52px;
	padding: 0;
	color: white;
}

h2
{
	font-size: 36px;
	color: #3e606b;
	padding: 0;
}

h3
{
	font-size: 18px;
}

.hero p
{
	font-size: 24px;
	font-style:italic;
	color: white;
}

section 
{
	max-width: 1100px;
	margin: 0 auto;
	padding: 80px 0;
}

footer
{
	background-color: #303339;
	color: #f0f0f0;
	width: 100%;
	padding: 30px 0;
}

footer p
{
	text-align: center;
	font-style: italic;
}

.seda
{
	background-color: #f0f0f0;
}

header
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 0;
	max-width: 1100px;
	margin: 0 auto;
}

.logo
{
	flex: 0 1 170px;
}

ul
{
	display: flex;
	list-style: none;
}

menu
{
	margin: 0;
	padding: 0;
}

a
{
	text-decoration: none;
	padding: 10px 15px;
	border-radius: 20px;
	color: #242424	;
}

a:hover, .levy a:hover
{
	color: white;
	background-color: #d2567d;
}

.hero
{
	background-image: url(images/cupcake.jpg);
	background-size: cover;
	max-width: 100%;
}

.text
{
	flex-basis: 60%;
	flex-grow: 0;
	flex-shrink: 1;
}

.sirka
{
	max-width: 1100px;
	margin: 0 auto;
	display: flex;
}

.vitejte
{
	display: flex;
}

.levy
{
	flex: 1 1 50%;
	
}

.levy p
{
	padding-right: 30px;
}

.levy :nth-child(3)
{
	padding-bottom:30px ;
}

.levy a
{
	padding: 15px 40px;
	border-radius: 30px;
	background-color: #f195b2;
}


.pravy img
{
	width: 100%;
	border-radius: 5px;
}

.produkty
{
	display: flex;
	
}

.produkty img
{
	width: 100%;
	border-radius: 5px 5px 0 0;
}

.produkt1, .produkt2, .produkt3, .produkt4
{
	margin-right: 30px;
	background-color: white;
	border-radius: 5px;
}

.produkt4
{
	margin-right: 0;
}

.produkty h3
{
	padding: 20px 20px 0 20px;
}

 .produkty p
  {
	padding: 0 20px 20px 20px;
  }

  .pristup
{
	display: flex;
}

.pristup img
{
	
	border-radius: 5px;
	width: 100%;
}

.levy_pristup
{
	flex: 1 0 50%;
	padding-right: 30px;

}